body {
  margin: 0;
}

#wrapper {
  background-color: #ADD8E6;
  height: 100vh;
  width: 100vw;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#board {
  background-color: #FFFFFF;
  bottom: 0;
  height: 80vw;
  left: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-height: 80vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 80vw;
  /*z-index: 1;*/
}

.cell {
  opacity: .75;
  position: absolute;
  border: 1px grey solid;
  box-sizing: border-box;
}

.leftRow {
  border-left: 5px black solid;
}

.rightRow {
  border-right: 5px black solid;
}

.topRow {
  border-top: 5px black solid;
}

.bottomRow {
  border-bottom: 5px black solid;
}

#messages-container{
    display: none;
    color: white;
    background-color: black;
    bottom: 0;
    height: 10vh;
    left: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 70vw;
}

#messages {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  bottom: 0;
  height: 10vh;
  left: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 70vw;
  /*z-index: 2;*/
}

.cellImage {
  width: 100%;
  top: 0;
  height: 100%;
  bottom: 1px;
  left: 0;
  position: absolute;
  display: block;

}

.player-image {
  width: 100%;
  top: 0;
  height: 100%;
  bottom: 1px;
  left: 0;
  position: absolute;
  display: block;
}

.mushroom-image {
  width: 100%;
  top: 0;
  height: 100%;
  bottom: 1px;
  left: 0;
  position: absolute;
  display: block;
}
/*.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }*/
